body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}

header {
    background-color: #58cb7d;
}
@sans-serif: "jaf-bernino-sans-comp";
@serif:  "chaparral-pro", Georgia, "Times New Roman", Times, serif;

.nav {
    text-align: center;   
        background-color: #333;
}
.nav ul {
      display: inline-block;
}

.sum {
    padding-top: 80px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}

.sum p {
    font-size: 30px;
    font-family: @sans-serif !important;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
}

.nav ul {
    margin: 0;
    padding: 0;
}

.nav li {
    float: left;
}

.nav li a {
    
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li a:hover {
    background-color: #111;
}
.nav li {
    border-right: 1px solid #bbb;
}

.nav li:last-child {
    border-right: none;
}

.video {
    vertical-align: middle;
    padding-top: 82px;
    padding-right: 82px;
    padding-bottom: 82px;
    padding-left: 82px;
}
.click p {text-align:center;}

.info {
    padding: 10px;
}
.logo {
    padding: 5px;
}
.logo2 {
    padding: 5px;
}
