body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}

.nav {
    text-align: center;
}
.nav ul {
      display: inline-block;
}

.sum {
    padding-top: 80px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}

.sum p {
    font-size: 40px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

li a {
    
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
li {
    border-right: 1px solid #bbb;
}

li:last-child {
    border-right: none;
}

.video {
    vertical-align: middle;
    padding-top: 82px;
    padding-right: 82px;
    padding-bottom: 82px;
    padding-left: 82px;
}
